<!--<mat-toolbar color="primary" class="mat-elevation-z8 header">-->
<!--&lt;!&ndash;  Mridul icon instead of text&ndash;&gt;-->
<!--  <span><mat-icon>eco</mat-icon><a routerLink="">Mridul</a></span>-->

<!--  <span class="spacer"></span>-->

<!--  <ul>-->
<!--    <li>-->
<!--      <a mat-button routerLink="/aboutMe" routerLinkActive="mat-accent">About Me</a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a mat-button routerLink="/projects" routerLinkActive="mat-accent">Projects</a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a mat-button routerLink="/blog" routerLinkActive="mat-accent">Blogs</a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a mat-raised-button color="accent" href="app/resume.pdf" download="Mridul_Resume.pdf">Resume</a>-->
<!--    </li>-->
<!--  </ul>-->

<!--</mat-toolbar>-->
<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <a><label class="logo">Mridul</label></a>
  <ul>
    <li><a routerLink="/aboutMe">About Me</a></li>
    <li><a routerLink="/projects">Projects</a></li>
    <li><a routerLink="/blog">Blogs</a></li>
    <li><a href="#">Resume</a></li>
  </ul>
</nav>
<section></section>
