<mat-toolbar color="primary" class="mat-elevation-z8 header">
<!--  Mridul icon instead of text-->
  <span><mat-icon>eco</mat-icon><a routerLink="">Mridul</a></span>

  <span class="spacer"></span>

  <ul>
    <li>
      <a mat-button routerLink="/aboutMe" routerLinkActive="mat-accent">About Me</a>
    </li>
    <li>
      <a mat-button routerLink="/projects" routerLinkActive="mat-accent">Projects</a>
    </li>
    <li>
      <a mat-button routerLink="/blog" routerLinkActive="mat-accent">Blogs</a>
    </li>
    <li>
      <a mat-raised-button color="accent" href="app/resume.pdf" download="Mridul_Resume.pdf">Resume</a>
    </li>
  </ul>

</mat-toolbar>
