#home {
  width: auto;
  height: auto;
  padding: 10%;
}
#content {
  display: table;
  width: auto;
  height: auto;
  font-weight: 800;
  margin: auto;
  padding: 10%;
  background-color: blue;
}
#first {
  text-align: center;
  display: table-row inline;
  padding: 5%;
  font-size: 150%;
  background-color: yellow;
  margin: 0;
}
#second {
  text-align: center;
  display: table-row inline;
  padding: 5%;
  font-size: 150%;
  background-color: red;
  margin: 0;
}
#third {
  text-align: center;
  display: table-row inline;
  padding: 5%;
  font-size: 150%;
  background-color: yellow;
  margin: 0;
}